<div class="card p-3 shadow text-center">
    <img [src]="myUsers.image" [alt]="myUsers.first_name" class="mb-3 w-25 rounded-circle">
    <h3 class="d-block">{{myUsers.first_name}}</h3>
    <div class="d-flex justify-content-around w-100">
        <div>
            <a class="link-dark link-underline-opacity-0" [routerLink]="['/user', myUsers._id]">Ver detalle</a>
        </div>
        <div>
            <a class="link-dark link-underline-opacity-0 hover"
                [routerLink]="['/updateuser', myUsers._id]">Actualizar</a>
        </div>
        <div>
            <a class="link-dark link-underline-opacity-0 hover">Borrar</a>
        </div>
    </div>
</div>